<!DOCTYPE html>
<html lang="en">
<head>

     <title>About Us</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="This page displays who are we">
     <meta name="keywords" content="Job, Candidate, Website, Interview, Project">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="Main.html" class="navbar-brand">NewBee</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="Main.html">Home</a></li>
                         <li><a href="job-listing.html">Jobs</a></li>
                         <li class="active"><a href="about-us.html">About Us</a></li>
                         <li><a href="blog-posts.html">Blog</a></li>
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                              
                              <ul class="dropdown-menu">
                                   
                                   <li><a href="testimonials.html">Testimonials</a></li>
                                   
                              </ul>
                         </li>
                         <li><a href="contact.html">Contact Us</a></li>
                         <li><a href="/profile">Profile</a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         
                         <li><a href="/">Sign out</a></li> 
                    </ul>
               </div>

          </div>
     </section>

     <section>
          <div class="container">
               <div class="text-center">
                    <h1>About Us</h1>

                    

                    
               </div>
          </div>
     </section>

     <section class="section-background">
          <div class="container">
               <div class="row">
                    <div class="col-md-offset-1 col-md-4 col-xs-12 pull-right">
                         <img src="images/about-1-720x720.jpg" class="img-responsive img-circle" alt="">
                    </div>

                    <div class="col-md-7 col-xs-12">
                         <div class="about-info">
                              <h2>Who we are</h2>

                              <figure>
                                   <figcaption>

                                        <p>The job market has changed considerably over the past several years, and the hiring process is longer and more difficult than in years past.
                                             "Great talent becomes harder to find, and it becomes extremely time-consuming for managers to review résumés and conduct interviews, all while still being responsible for their day-to-day operations," said Matthew Rowles, business development manager at staffing company Kavaliro. "Turning to a trusted staffing partner can save time and money. A staffing firm can prescreen and qualify candidates to ensure the manager is always interviewing candidates that are a fit for the role."</p>


                                        
                                        <p>Recruiting services search for qualified candidates for permanent, full-time positions. ... They recruit, screen, and then refer candidates to an employer for consideration.</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <section>
          <div class="container">
               <div class="row">
                    <div class="col-md-4 col-xs-12">
                         <img src="images/about-2-720x720.jpg" class="img-responsive img-circle" alt="">
                    </div>

                    <div class="col-md-offset-1 col-md-7 col-xs-12">
                         <div class="about-info">
                              <h2>How does our business system works</h2>

                              <figure>
                                   <figcaption>
                                        <p>First we create a user friendly website for the job seekers so that they don’t feel much intimidating 
                                             we have a software which will automatically build the resume of our freshers if they fill the details properly Then we send the resumes to the company’s in their related field
                                            if they accepted the resume They will receive a email that some companies and the interview can be conducted on online basis
                                            If anybody want to learn any technical skills like programming language they can learn in our platform if they have learn the course properly they can use the certificate in their resumes 
                                             For job interview preparations we also have classes for that so the job aspirants can learn how to ace a job interview 
                                            </p>

                                        
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <section class="section-background">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <div class="text-center">
                              <h2>About our project</h2>

                              <br>

                              <p class="lead">Our project is about creating a online website for Employability job consultancy (EPS)
                                   In our platform it is easy for freshers who are looking for jobs 
                                   In our website we have best companies who are willing to hire you
                                   There are also learning program in our website so if you want to learn any new coding language you can go through our website
                                   We also have coding challenges in which you can participate and compete with you fellow members 
                                   </p>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <custom-footer></custom-footer>


     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
     <script src="js/chatbot.js"></script>
     <script src="js/custom_element.js"></script>

</body>
</html>