<!DOCTYPE html>
<html lang="en">
<head>

     <title>Blog Post: How to connect MongoDB to Node js</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="A blog about how to connect Database to Node js">
     <meta name="keywords" content="mongoDB, database, data, application">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="Main.html" class="navbar-brand">NewBee</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="Main.html">Home</a></li>
                         <li><a href="job-listing.html">Jobs</a></li>
                         <li><a href="about-us.html">About Us</a></li>
                         <li class="active"><a href="blog-posts.html">Blog</a></li>
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                              
                              <ul class="dropdown-menu">
                                   
                                   <li><a href="testimonials.html">Testimonials</a></li>
                                   
                              </ul>
                         </li>
                         <li><a href="contact.html">Contact Us</a></li>
                         <li><a href="/profile">Profile</a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         
                         <li><a href="/">Sign out</a></li> 
                    </ul>
               </div>

          </div>
     </section>

     <section>
          <div class="container">
               <h2>How to connect MongoDB to Node js</h2>

               <p class="lead">
                    <i class="fa fa-user"></i> Akhila &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-calendar"></i> 04/05/2022 09:20 &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-eye"></i> 11
               </p>

               <img src="images/other-image-fullscreen-1-1920x700.jpg" class="img-responsive" alt="">

               <br>

               <h3>Mongo DB connections</h3>
               

               <h2>Set up</h2>
<p>Before we begin, we need to ensure you’ve completed a few prerequisite steps.</p>
<h3>Install Node.js</h3>
<p>First, make sure you have a supported version of Node.js installed. The current version of MongoDB Node.js Driver requires Node 4.x or greater. For these examples, I've used Node.js 14.15.4. See the <a href="https://docs.mongodb.com/drivers/node/compatibility" target="_blank">MongoDB Compatability</a> docs for more information on which version of Node.js is required for each version of the Node.js driver.</p>
<h3>Install the MongoDB Node.js Driver</h3>
<p>The MongoDB Node.js Driver allows you to easily interact with MongoDB databases from within Node.js applications. You'll need the driver in order to connect to your database and execute the queries described in this Quick Start series.</p>
<p>If you don't have the MongoDB Node.js Driver installed, you can install it with the following command.</p>
<pre><code>npm install mongodb&NewLine;</code></pre>
<p>At the time of writing, this installed version 3.6.4 of the driver. Running <code>npm list mongodb</code> will display the currently installed driver version number. For more details on the driver and installation, see the <a href="https://docs.mongodb.com/drivers/node/current/" target="_blank">official documentation</a>.</p>
<h3>Create a free MongoDB Atlas cluster and load the sample data</h3>
<p>Next, you'll need a MongoDB database. The easiest way to get started with MongoDB is to use Atlas, MongoDB's fully-managed database-as-a-service.</p>
<p><a href="https://www.mongodb.com/cloud/atlas" target="_blank">Head over to Atlas</a> and create a new cluster in the free tier. At a high level, a cluster is a set of nodes where copies of your database will be stored. Once your tier is created, <a href="https://docs.atlas.mongodb.com/sample-data/" target="_blank">load the sample data</a>. If you're not familiar with how to create a new cluster and load the sample data, check out <a href="https://developer.mongodb.com/quickstart/free-atlas-cluster/" target="_blank">this video tutorial</a> from MongoDB Developer Advocate <a href="https://www.linkedin.com/in/maximebeugnet" target="_blank">Maxime Beugnet</a>.</p>
<div class='callout'>
<p>Get started with an M0 cluster on <a href="https://www.mongodb.com/cloud/atlas" target="_blank">Atlas</a> today. It's free forever, and it's the easiest way to try out the steps in this blog series.</p>
</div>
<h3>Get your cluster’s connection info</h3>
<p>The final step is to prep your cluster for connection.</p>
<p>In <a href="https://www.mongodb.com/cloud/atlas" target="_blank">Atlas</a>, navigate to your cluster and click <strong>CONNECT</strong>. The Cluster Connection Wizard will appear.</p>
<p>The Wizard will prompt you to add your current IP address to the IP Access List and create a MongoDB user if you haven't already done so. Be sure to note the username and password you use for the new MongoDB user as you'll need them in a later step.</p>
<p>Next, the Wizard will prompt you to choose a connection method. Select <strong>Connect Your Application</strong>. When the Wizard prompts you to select your driver version, select <strong>Node.js</strong> and <strong>3.6 or later</strong>. Copy the provided connection string.</p>
<p>For more details on how to access the Connection Wizard and complete the steps described above, see the <a href="https://docs.atlas.mongodb.com/connect-to-cluster/" target="_blank">official documentation</a>.</p>
<h2>Connect to your database from a Node.js application</h2>
<p>Now that everything is set up, it’s time to code!  Let’s write a Node.js script that connects to your database and lists the databases in your cluster.</p>
<h3>Import MongoClient</h3>
<p>The MongoDB module exports <code>MongoClient</code>, and that’s what we’ll use to connect to a MongoDB database.  We can use an instance of MongoClient to connect to a cluster, access the database in that cluster, and close the connection to that cluster.</p>
<pre><code>const {MongoClient} = require('mongodb');&NewLine;</code></pre>
<h3>Create our main function</h3>
<p>Let’s create an asynchronous function named <code>main()</code> where we will connect to our MongoDB cluster, call functions that query our database, and disconnect from our cluster.</p>
<pre><code>async function main() {&NewLine;	// we'll add code here soon&NewLine;}&NewLine;</code></pre>
<p>The first thing we need to do inside of  <code>main()</code>  is create a constant for our connection URI. The connection URI is the connection string you copied in Atlas in the previous section. When you paste the connection string, don't forget to update  <code>&lt;username&gt;</code>  and  <code>&lt;password&gt;</code>  to be the credentials for the user you created in the previous section. The connection string includes a  <code>&lt;dbname&gt;</code>  placeholder. For these examples, we'll be using the  <code>sample_airbnb</code>  database, so replace  <code>&lt;dbname&gt;</code>  with  <code>sample_airbnb</code>.</p>
<p><strong>Note</strong>: the username and password you provide in the connection string are NOT the same as your Atlas credentials.</p>
<pre><code>/&ast;&ast;&NewLine; &ast; Connection URI. Update &lt;username&gt;, &lt;password&gt;, and &lt;your-cluster-url&gt; to reflect your cluster.&NewLine; &ast; See https://docs.mongodb.com/ecosystem/drivers/node/ for more details&NewLine; &ast;/&NewLine;const uri = &quot;mongodb+srv://&lt;username&gt;:&lt;password&gt;@&lt;your-cluster-url&gt;/test?retryWrites=true&amp;w=majority&quot;;&NewLine;</code></pre>
<p>Now that we have our URI, we can create an instance of MongoClient.</p>
<pre><code>const client = new MongoClient(uri);&NewLine;</code></pre>
<p><strong>Note</strong>: When you run this code, you may see DeprecationWarnings around the URL string  <code>parser</code>and the Server Discover and Monitoring engine. If you see these warnings, you can remove them by passing options to the MongoClient. For example, you could instantiate MongoClient by calling  <code>new MongoClient(uri, { useNewUrlParser: true, useUnifiedTopology: true })</code>. See the <a href="https://mongodb.github.io/node-mongodb-native/3.6/api/MongoClient.html" target="_blank">Node.js MongoDB Driver API documentation</a> for more information on these options.</p>
<p>Now we're ready to use MongoClient to connect to our cluster.  <code>client.connect()</code> will return a <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise" target="_blank">promise</a>. We will use the <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await" target="_blank">await</a> keyword when we call  <code>client.connect()</code> to indicate that we should block further execution until that operation has completed.</p>
<pre><code>await client.connect();&NewLine;</code></pre>
<p>Now we are ready to interact with our database. Let's build a function that prints the names of the databases in this cluster. It's often useful to contain this logic in well named functions in order to improve the readability of your codebase. Throughout this series, we'll create new functions similar to the function we're creating here as we learn how to write different types of queries. For now, let's call a function named <code>listDatabases()</code>.</p>
<pre><code>await listDatabases(client);&NewLine;</code></pre>
<p>Let’s wrap our calls to functions that interact with the database in a <code>try/catch</code> statement so that we handle any unexpected errors.</p>
<pre><code>try {&NewLine;    await client.connect();&NewLine;&NewLine;    await listDatabases(client);&NewLine; &NewLine;} catch (e) {&NewLine;    console.error(e);&NewLine;}&NewLine;</code></pre>
<p>We want to be sure we close the connection to our cluster, so we’ll end our <code>try/catch</code> with a <code>finally</code> statement.</p>
<pre><code>finally {&NewLine;    await client.close();&NewLine;}&NewLine;</code></pre>
<p>Once we have our <code>main()</code> function written, we need to call it. Let’s send the errors to the console.</p>
<pre><code>main().catch(console.error);&NewLine;</code></pre>
<p>Putting it all together, our <code>main()</code> function and our call to it will look something like the following.</p>
<pre><code>async function main(){&NewLine;    /&ast;&ast;&NewLine;     &ast; Connection URI. Update &lt;username&gt;, &lt;password&gt;, and &lt;your-cluster-url&gt; to reflect your cluster.&NewLine;     &ast; See https://docs.mongodb.com/ecosystem/drivers/node/ for more details&NewLine;     &ast;/&NewLine;    const uri = &quot;mongodb+srv://&lt;username&gt;:&lt;password&gt;@&lt;your-cluster-url&gt;/test?retryWrites=true&amp;w=majority&quot;;&NewLine; &NewLine;&NewLine;    const client = new MongoClient(uri);&NewLine; &NewLine;    try {&NewLine;        // Connect to the MongoDB cluster&NewLine;        await client.connect();&NewLine; &NewLine;        // Make the appropriate DB calls&NewLine;        await  listDatabases(client);&NewLine; &NewLine;    } catch (e) {&NewLine;        console.error(e);&NewLine;    } finally {&NewLine;        await client.close();&NewLine;    }&NewLine;}&NewLine;&NewLine;main().catch(console.error);&NewLine;</code></pre>
<h3>List the databases in our cluster</h3>
<p>In the previous section, we referenced the <code>listDatabases()</code> function.  Let’s implement it!</p>
<p>This function will retrieve a list of databases in our cluster and print the results in the console.</p>
<pre><code>async function listDatabases(client){&NewLine;    databasesList = await client.db().admin().listDatabases();&NewLine; &NewLine;    console.log(&quot;Databases:&quot;);&NewLine;    databasesList.databases.forEach(db =&gt; console.log(` - ${db.name}`));&NewLine;};&NewLine; &NewLine;</code></pre>
<h3>Save Your File</h3>
<p>You’ve been implementing a lot of code.  Save your changes, and name your file something like <code>connection.js</code>.  To see a copy of the complete file, visit the <a href="https://github.com/mongodb-developer/nodejs-quickstart/blob/master/connection.js" target="_blank">nodejs-quickstart</a> GitHub repo.</p>
<h3>Execute Your Node.js Script</h3>
<p>Now you’re ready to test your code!  Execute your script by running a command like the following in your terminal:
<code>node connection.js</code></p>
<p>You will see output like the following:</p>
<pre><code>Databases:&NewLine; - sample_airbnb&NewLine; - sample_geospatial&NewLine; - sample_mflix&NewLine; - sample_supplies&NewLine; - sample_training&NewLine; - sample_weatherdata&NewLine; - admin&NewLine; - local&NewLine;</code></pre>
<h2>What’s next?</h2>
<p>Today, you were able to connect to a MongoDB database from a Node.js script, retrieve a list of databases in your cluster, and view the results in your console. Nice!</p>
<p>Now that you're connected to your database, continue on to the <a href="https://developer.mongodb.com/quickstart/node-crud-tutorial/" target="_blank">next post in this series</a> where you'll learn to execute each of the CRUD (create, read, update, and delete) operations.</p>
<p>In the meantime, check out the following resources:</p>


               <br>
               <br>

               <div class="row">
                    <div class="col-md-4 col-xs-12 pull-right">
                         <h4>Social share</h4>

                         <p>
                              <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> &nbsp;&nbsp;&nbsp;

                              <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;&nbsp;

                              <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                         </p>

                         <br>


                         <h4>Other posts</h4>

                         <ul class="list">
                              <li><a href="blog-post-details_2.html">How to create a front end applications</a></li>
                              <li><a href="blog-post-details_3.html">How to connect mongodb to node.js</a></li>
                              <li><a href="blog-post-details_1.html">How to create a web applications</a></li>
                         </ul>
                    </div>

                    <div class="col-md-8 col-xs-12">
                         <h4>Comments</h4>

                         <p id="blog_comments"></p>

                         <br>
                         
                         <h4>Leave a Comment</h4>

                         <form name= "form1" class="form">
                              <div class="pageinfo" style="display: none;">
                                   <input type="number" id="blog_id" class="form-control" value=3>
                               </div>
                              <div class="row">
                                   <div class="col-sm-6 col-xs-6">
                                        <div class="form-group">
                                             <label class="control-label">Name</label>

                                             <input type="text" id="blog_username" class="form-control">
                                        </div>
                                   </div>

                                   <div class="col-sm-6 col-xs-6">
                                        <div class="form-group">
                                             <label class="control-label">Email</label>

                                             <input type="email" id="blog_email" class="form-control">
                                        </div>
                                   </div>
                              </div>

                              <div class="form-group">
                                   <label class="control-label">Message</label>

                                   <textarea id="blog_message" class="form-control" rows="10" autocomplete="off"></textarea>
                              </div>

                              <button type="submit" class="section-btn btn btn-primary" onclick="submit_comment()">Submit</button>
                         </form>
                    </div>
               </div>
          </div>
     </section>

     <custom-footer></custom-footer>

     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
     <script src="js/chatbot.js"></script>
     <script src="js/custom_element.js"></script>
     <script>
          function submit_comment() {
               // (A1) DATA
               var blue = 
               {"blog_id": parseInt(document.getElementById("blog_id").value), 
               "email" : document.getElementById("blog_email").value,
               "username" : document.getElementById("blog_username").value,
               "message" : document.getElementById("blog_message").value,

                    };
               // (A2) AJAX
               var xhr = new XMLHttpRequest();
               xhr.open("POST", "/add_comment");
               xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
               xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                         var res = JSON.parse(xhr.response);
                         console.log(res);
                    }
               };
               xhr.send(JSON.stringify(blue));	
               setTimeout(function(){
               document.location.reload()
               }, 300); 		
               }

</script>
<script>
     function update_comments() {
          var blue = {"blog_id" : parseInt(document.getElementById("blog_id").value)};
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/display_comment",false);
          xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
          xhr.send(JSON.stringify(blue));
          console.log("data_at_func");
          var data  = JSON.parse(xhr.responseText);
          console.log(data);
          var  comment_body = ""
          if (data.length==0){
               return "No comments found.";
          }
          for (var i = data.length-1; i >= 0 && i > data.length-10; i--) 
          { 
               comment_body += `<p><strong>User Name: ${data[i].username} &emsp;</strong>
                              <p><i>${data[i].message}<i></p><br>`;
          }
          
          console.log(comment_body);
          return comment_body
     }
     document.getElementById('blog_comments').innerHTML= update_comments();
</script>

</body>
</html>