<!DOCTYPE html>
<html lang="en">
<head>

     <title>Blog Post: How to create a Web applications</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="A blog about how to develop web applications">
     <meta name="keywords" content="Web design, Application design, Software development">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="Main.html" class="navbar-brand">NewBee</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="Main.html">Home</a></li>
                         <li><a href="job-listing.html">Jobs</a></li>
                         <li><a href="about-us.html">About Us</a></li>
                         <li class="active"><a href="blog-posts.html">Blog</a></li>
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                              
                              <ul class="dropdown-menu">
                                   
                                   <li><a href="testimonials.html">Testimonials</a></li>
                                   
                              </ul>
                         </li>
                         <li><a href="contact.html">Contact Us</a></li>
                         <li><a href="/profile">Profile</a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         
                         <li><a href="/">Sign out</a></li> 
                    </ul>
               </div>

          </div>
     </section>

     <section>
          <div class="container">
               <h2>How to create a Web applications</h2>

               <p class="lead">
                    <i class="fa fa-user"></i> Akhila &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-calendar"></i> 04/20/2022 14:50 &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-eye"></i> 96
               </p>

               <img src="images/other-image-fullscreen-1-1920x700.jpg" class="img-responsive" alt="">

               <br>

               <h3>What is web application development</h3>
               

               <p>Web application development is the process involved with building a web application. It is more focused on interacting with the browser than standard engineering processes. Most cases of web application development will involve defining the problem, mocking-up the solution, engaging with users, adopting a framework/choosing a tool, and finally, building and testing the web application - in most cases, iteratively with users.

            </p>

               <h3>6 examples of web applications</h3>

               <p>1. Mailchimp</p>
               <p>2. Google Docs</p>
               <p>3. Notion</p>
               <p>4. Airtable</p>
               <p>5. Xero</p>
               <p>6. Salesforce</p>
               
               <br>

               <h3>Web application development process</h3>

               <p>There are many different processes involved with building a web application. Below, I have summarised the different steps involved with the web application development process.</p>

               <p>The 8 steps for creating a web applications </p>

               <br>


               <h4>1. Define the problem you are solving</h4>

               <h4>2. Plan the workflow of your web application</h4>

               <h4>3. Wireframe/prototype your web applications</h4>

               <h4>4. Receive Validation</h4>

               <h4>5. Choose your firepower</h4>

               <h4>6. Build your web application</h4>
               <p>1. Database</p>
               <p>2. Frontend</p>
               <p>3. Backend</p>
               <p></p>

               <h4>7. Test your Web application</h4>

               <h4>8. Host and deploy your web applications</h4>


               <br>
               <br>

               <div class="row">
                    <div class="col-md-4 col-xs-12 pull-right">
                         <h4>Social share</h4>

                         <p>
                              <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> &nbsp;&nbsp;&nbsp;

                              <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;&nbsp;

                              <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                         </p>

                         <br>


                         <h4>Other posts</h4>

                         <ul class="list">
                              <li><a href="blog-post-details_2.html">How to create a front end applications</a></li>
                              <li><a href="blog-post-details_3.html">How to connect MongoDB to Node j</a></li>
                              <li><a href="blog-post-details_4.html">How to create a Crude applications</a></li>
                         </ul>
                    </div>

                    <div class="col-md-8 col-xs-12">
                         <h4>Comments</h4>

                         <p id="blog_comments"></p>

                         <br>
                         
                         <h4>Leave a Comment</h4>

                         <form name= "form1" class="form">
                              <div class="pageinfo" style="display: none;">
                                   <input type="number" id="blog_id" class="form-control" value=1>
                               </div>
                              <div class="row">
                                   <div class="col-sm-6 col-xs-6">
                                        <div class="form-group">
                                             <label class="control-label">Name</label>

                                             <input type="text" id="blog_username" class="form-control">
                                        </div>
                                   </div>

                                   <div class="col-sm-6 col-xs-6">
                                        <div class="form-group">
                                             <label class="control-label">Email</label>

                                             <input type="email" id="blog_email" class="form-control">
                                        </div>
                                   </div>
                              </div>

                              <div class="form-group">
                                   <label class="control-label">Message</label>

                                   <textarea id="blog_message" class="form-control" rows="10" autocomplete="off"></textarea>
                              </div>

                              <button type="submit" class="section-btn btn btn-primary" onclick="submit_comment()">Submit</button>
                         </form>
                    </div>
               </div>
          </div>
     </section>

     <custom-footer></custom-footer>
     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
     <script src="js/chatbot.js"></script>
     <script src="js/custom_element.js"></script>
     <script>
          	function submit_comment() {
				// (A1) DATA
				var blue = 
                    {"blog_id": parseInt(document.getElementById("blog_id").value), 
                    "email" : document.getElementById("blog_email").value,
                    "username" : document.getElementById("blog_username").value,
                    "message" : document.getElementById("blog_message").value,

                         };
				// (A2) AJAX
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/add_comment");
				xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4 && xhr.status === 200) {
						var res = JSON.parse(xhr.response);
						console.log(res);
					}
				};
				xhr.send(JSON.stringify(blue));	
				setTimeout(function(){
                    document.location.reload()
				}, 300); 		
				}

     </script>
     <script>
          function update_comments() {
               var blue = {"blog_id" : parseInt(document.getElementById("blog_id").value)};
               var xhr = new XMLHttpRequest();
			xhr.open("GET", "/display_comment",false);
			xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
               xhr.send(JSON.stringify(blue));
               console.log("data_at_func");
               var data  = JSON.parse(xhr.responseText);
               console.log(data);
               var  comment_body = ""
               if (data.length==0){
                    return "No comments found.";
               }
               for (var i = data.length-1; i >= 0 && i > data.length-10; i--) 
               { 
                    comment_body += `<p><strong>User Name: ${data[i].username} &emsp;</strong>
                                   <p><i>${data[i].message}<i></p><br>`;
               }
               
               console.log(comment_body);
               return comment_body
          }
          document.getElementById('blog_comments').innerHTML= update_comments();
     </script>

     
</body>
</html>