<!DOCTYPE html>
<html lang="en">
<head>

     <title>Contact Us: For additonal information</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="A page about how to contact us">
     <meta name="keywords" content="Contact, Email, Message">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">
     <script src="https://smtpjs.com/v3/smtp.js"></script>
     <script type="text/javascript">
          function send_email() {
               console.log("Code reaches here");
               var user_content = "Name: "+ document.getElementById('contact_name').value + "\n \nEmail: "
                                   + document.getElementById('contact_email').value + "\n \nMessage" + document.getElementById('message').value
               Email.send({
                    Host : "smtp.elasticemail.com",
                    Username : "swapnil.parihars@gmail.com",
                    Password : "C743FE7768892282883CB352AC34A0C8E4D4",
                    To : 'swapnil.parihars@gmail.com',
                    From : 'swapnil.parihars@gmail.com',
                    Subject : "Customer Feedback from NewBee",
                    Body : user_content
                    }).then(
                    message => alert(message)
                    );
          };
        </script>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="Main.html" class="navbar-brand">NewBee</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="Main.html">Home</a></li>
                         <li><a href="job-listing.html">Jobs</a></li>
                         <li><a href="about-us.html">About Us</a></li>
                         <li><a href="blog-posts.html">Blog</a></li>
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                              
                              <ul class="dropdown-menu">
                                   
                                   <li><a href="testimonials.html">Testimonials</a></li>
                                   
                              </ul>
                         </li>
                         <li class="active"><a href="contact.html">Contact Us</a></li>
                         <li><a href="/profile">Profile</a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         <li><a></a></li>

                         <li><a href="/">Sign out</a></li>
                    </ul>
               </div>

          </div>
     </section>

     <section>
          <div class="container">
               <div class="text-center">
                    <h1>Contact Us</h1>

                    <br>

                    <p class="lead">For additional information.</p>
               </div>
          </div>
     </section>


     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form">
                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" id="contact_name" required>
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" id="contact_email" required>

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" id="message" required></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <button type="button" class="section-btn btn btn-primary" onclick="send_email()">Submit</button>
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="images/contact-1-600x400.jpg" class="img-responsive" alt="">
                         </div>
                    </div>

               </div>
          </div>
     </section>       


     <custom-footer></custom-footer>


     <!-- SCRIPTS -->
     
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
     <script src="js/chatbot.js"></script>
     <script src="js/custom_element.js"></script>


</body>
</html>