<!DOCTYPE html>
<html lang="en">
<head>

     <title>Job Details: Research Intern-computer vision</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="Job details about Research Intern-computer vision at Microsoft ">
     <meta name="keywords" content="Microsoft, Intern, Job, Apply">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="Main.html" class="navbar-brand">NewBee</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="Main.html">Home</a></li>
                         <li><a href="job-listing.html">Jobs</a></li>
                         <li><a href="about-us.html">About Us</a></li>
                         <li><a href="blog-posts.html">Blog</a></li>
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                              
                              <ul class="dropdown-menu">
                                   
                                   <li><a href="testimonials.html">Testimonials</a></li>
                                   
                              </ul>
                         </li>
                         <li><a href="contact.html">Contact Us</a></li>
                         <li><a href="/profile">Profile</a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         
                         <li><a href="/">Sign out</a></li> 
                    </ul>
               </div>

          </div>
     </section>

     <section>
          <div class="container">
               <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12">
                         <div>
                              <br>

                              <img src="images/microsoft.jpg" alt="" class="img-responsive wc-image">

                              <br>
                         </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-xs-12">
                         <form action="#" method="post" class="form">
                              <h2>Research Intern-computer vision</h2>

                              <p class="lead"><strong class="text-primary">$130000</strong> <small> per year</small></p>

                              <p class="lead">
                                   <i class="fa fa-briefcase"></i> Research Intern&nbsp;&nbsp;
                                   <i class="fa fa-map-marker"></i> Massachusetts &nbsp;&nbsp;
                                   <i class="fa fa-calendar"></i> 07-01-2022 &nbsp;&nbsp;
                                   <i class="fa fa-file"></i> Intern
                              </p>

                              
                         </form>
                    </div>
               </div>

               <div class="panel panel-default">
                    <div class="panel-heading">
                         <h4>Job Description</h4>
                    </div>

                    <div class="panel-body">
                         <p>Research Internships at Microsoft provide a dynamic environment for research careers with a network of world-class research labs led by globally-recognized scientists and engineers. </p>
                         <h4>Responsibillitites:</h4>

                         <p>Interns put inquiry and theory into practice. Alongside fellow doctoral candidates and some of the world’s best researchers, interns learn, collaborate, and network for life. Interns not only advance their own careers, but they also contribute to exciting research and development strides</p>

                         <h4>Qualifications:</h4>
                         <p>- Must be currently enrolled in a PhD program in Computer Science or a related STEM field.</p>
                         <p>- Proficiency using PyTorch or TensorFlow (2+ years of experiences), and other modern machine learning tools and datasets. .</p>
                         <p>- Having worked on research papers with submissions to top-tier conferences (acceptance is preferred but not required).</p>
                    </div>
               </div>

               <div class="panel panel-default">
                    <div class="panel-heading">
                         <h4>About Microsoft LLC</h4>
                    </div>

                    <div class="panel-body">
                         <p>Microsoft Corporation is an American multinational technology corporation which produces computer software, consumer electronics, personal computers, and related services.</p>

                         <div class="row">
                              <div class="col-lg-6">
                                   
                              </div>

                              <div class="col-lg-6">
                                   
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-md-6">
                                   <p>
                                        <span>Company name</span>

                                        <br>

                                        <strong>Mircosoft llc</strong>
                                   </p>
                              </div>

                              <div class="col-md-6">
                                   <p>
                                        <span>Contact name</span>

                                        <br>

                                        <strong>careers@microsoft</strong>
                                   </p>
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-md-6">
                                   <p>
                                        <span>Phone</span>

                                        <br>

                                        <strong><a href="tel:9988665544">+1(998)378-4690</a></strong>
                                   </p>
                              </div>

                              <div class="col-md-6">
                                   <p>
                                        <span>Mobile phone</span>

                                        <br>

                                        <strong><a href="tel:9989080509">+1(998)378-4690</a></strong>
                                   </p>
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-md-6">
                                   <p>
                                        <span>Email</span>

                                        <br>

                                        <strong><a href="mailto:Google@gmail.com">https://careers.microsoft.com/us/en/</a></strong>
                                   </p>
                              </div>

                              <div class="col-md-6">
                                   <p>
                                        <span>Website</span>

                                        <br>

                                        <strong><a href="http://www.microsoft.com/">http://www.microsoft.com/</a></strong>
                                   </p>
                              </div>
                         </div>

                         <p>
                              <span>City</span>

                              <br>

                              <strong>Massachusetts</strong>
                         </p>
                    </div>
               </div>

               <a href="https://careers.microsoft.com/students/us/en/job/1303316/Research-Intern-Computer-Vision" class="section-btn btn btn-primary pull-left">Apply for this job</a>

                    <ul class="social-icon pull-right">
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-envelope-o"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>
          </div>
     </section>

     <custom-footer></custom-footer>

     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
     <script src="js/chatbot.js"></script>
     <script src="js/custom_element.js"></script>

</body>
</html>