<!DOCTYPE html>
<html lang="en">
<head>

     <title>Jobs Portal: Job listing</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="This page displays list of jobs">
     <meta name="keywords" content="Job, Developer, Intern">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="Main.html" class="navbar-brand">NewBee</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="Main.html">Home</a></li>
                         <li class="active"><a href="job-listing.html">Jobs</a></li>
                         <li><a href="about-us.html">About Us</a></li>
                         <li><a href="blog-posts.html">Blog</a></li>
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                              
                              <ul class="dropdown-menu">
                                   
                                   <li><a href="testimonials.html">Testimonials</a></li>
                                   
                              </ul>
                         </li>
                         <li><a href="contact.html">Contact Us</a></li>
                         <li><a href="/profile">Profile</a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         
                         <li><a href="/">Sign out</a></li> 
                    </ul>
               </div>

          </div>
     </section>

     <section>
          <div class="container">
               <div class="text-center">
                    <h1>Job Listing</h1>

                    <br>

                    
               </div>
          </div>
     </section>

     <section class="section-background">
          <div class="container">

               <div class="row">
                    <div class="list-wrapper row">
                              <div class="list-item col-lg-6">
                                   <div class="courses-thumb courses-thumb-secondary">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="images/google-logo.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                             <span title="Posted on"><i class="fa fa-calendar"></i> 07-01-2022</span>
                                             <span title="Location"><i class="fa fa-map-marker"></i> Mountain View</span>
                                             <span title="Type"><i class="fa fa-file"></i> Intern</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="job-details.html">Software Engineering Intern</a></h3>

                                             <p class="lead"><strong>$150000</strong></p>

                                             <p>Software developer for <strong>Google</strong></p>
                                        </div>

                                        <div class="courses-info">
                                             <a href="job-details.html" class="section-btn btn btn-primary btn-block">View Details</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="list-item col-lg-6">
                                   <div class="courses-thumb courses-thumb-secondary">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="images/facebook.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                             <span title="Posted on"><i class="fa fa-calendar"></i> 06-20-2022</span>
                                             <span title="Location"><i class="fa fa-map-marker"></i> Menlo Park</span>
                                             <span title="Type"><i class="fa fa-file"></i> Intern</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="job-details_1.html">SE intern,Machine Learning</a></h3>

                                             <p class="lead"><strong>$130000</strong></p>

                                             <p>Sotware Engineer intern <strong>in Machine Learning at facebook</strong></p>
                                        </div>

                                        <div class="courses-info">
                                             <a href="job-details_1.html" class="section-btn btn btn-primary btn-block">View Details</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="list-item col-lg-6">
                                   <div class="courses-thumb courses-thumb-secondary">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="images/cisco.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                                  <span title="Posted on"><i class="fa fa-calendar"></i> 06-12-2022</span>
                                                  <span title="Location"><i class="fa fa-map-marker"></i> San Jose</span>
                                                  <span title="Type"><i class="fa fa-file"></i> Full time</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="job-details_2.html">Software Engineer II</a></h3>

                                             <p class="lead"><strong>$90000</strong></p>

                                             <p>Software Engineer for <strong>Cisco</strong></p>
                                        </div>

                                        <div class="courses-info">
                                             <a href="job-details_2.html" class="section-btn btn btn-primary btn-block">View Details</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="list-item col-lg-6">
                                   <div class="courses-thumb courses-thumb-secondary">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="images/oracle.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                             <span title="Posted on"><i class="fa fa-calendar"></i> 08-24-2022</span>
                                             <span title="Location"><i class="fa fa-map-marker"></i> Pleasonton</span>
                                             <span title="Type"><i class="fa fa-file"></i> Full time</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="job-details_3.html">Full stack web developer</a></h3>

                                             <p class="lead"><strong>$110000</strong></p>

                                             <p>Software developer for <strong>Oracle</strong></p>
                                        </div>

                                        <div class="courses-info">
                                             <a href="job-details_3.html" class="section-btn btn btn-primary btn-block">View Details</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="list-item col-lg-6">
                                   <div class="courses-thumb courses-thumb-secondary">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="images/microsoft.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                                  <span title="Posted on"><i class="fa fa-calendar"></i> 07-01-2022</span>
                                                  <span title="Location"><i class="fa fa-map-marker"></i> Massachusetts</span>
                                                  <span title="Type"><i class="fa fa-file"></i> Intern</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="job-details_4.html">Research Intern-computer vision</a></h3>

                                             <p class="lead"><strong>$130000</strong></p>

                                             <p>Security for <strong>Microsoft</strong></p>
                                        </div>

                                        <div class="courses-info">
                                             <a href="job-details_4.html" class="section-btn btn btn-primary btn-block">View Details</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="list-item col-lg-6">
                                   <div class="courses-thumb courses-thumb-secondary">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="images/cisco.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                                  <span title="Posted on"><i class="fa fa-calendar"></i> 08-01-2022</span>
                                                  <span title="Location"><i class="fa fa-map-marker"></i> San Jose</span>
                                                  <span title="Type"><i class="fa fa-file"></i> Full time</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="job-details_5.html">Software Engineer I </a></h3>

                                             <p class="lead"><strong>$150 000</strong></p>

                                             <p>Software Engineer I  <strong>at cisco</strong></p>
                                        </div>

                                        <div class="courses-info">
                                             <a href="job-details_5.html" class="section-btn btn btn-primary btn-block">View Details</a>
                                        </div>
                                   </div>
                              </div>
                    </div>
                    <div id="pagination-container"></div>
               </div>
          </div>
     </section>

     <custom-footer></custom-footer>

     <div class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h4 class="modal-title" id="gridSystemModalLabel">Book Now</h4>
                    </div>
                    
                    <div class="modal-body">
                         <form action="#" id="contact-form">
                              <div class="row">
                                   <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Pick-up location" required>
                                   </div>

                                   <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Return location" required>
                                   </div>
                              </div>

                              <div class="row">
                                   <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Pick-up date/time" required>
                                   </div>

                                   <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Return date/time" required>
                                   </div>
                              </div>
                              <input type="text" class="form-control" placeholder="Enter full name" required>

                              <div class="row">
                                   <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Enter email address" required>
                                   </div>

                                   <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Enter phone" required>
                                   </div>
                              </div>
                         </form>
                    </div>

                    <div class="modal-footer">
                         <button type="button" class="section-btn btn btn-primary">Book Now</button>
                    </div>
               </div>
          </div>
     </div>

     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/jquery.simplePagination.js"></script>
     <script src="js/custom.js"></script>
     <script src="js/chatbot.js"></script>
     <script src="js/custom_element.js"></script>

</body>
</html>