<!DOCTYPE html>
<html lang="en">
<head>

     <title>Job Details: Software Engineer II </title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="Job details about Software Engineer II at Cisco">
     <meta name="keywords" content="Engineer, Job, Program, Technology, Cisco">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="Main.html" class="navbar-brand"> NewBee</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="Main.html">Home</a></li>
                         <li><a href="job-listing.html">Jobs</a></li>
                         <li><a href="about-us.html">About Us</a></li>
                         <li><a href="blog-posts.html">Blog</a></li>
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                              
                              <ul class="dropdown-menu">
                                   
                                   <li><a href="testimonials.html">Testimonials</a></li>
                                   
                              </ul>
                         </li>
                         <li><a href="contact.html">Contact Us</a></li>
                         <li><a href="/profile">Profile</a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         <li><a></a></li>
                         
                         <li><a href="/">Sign out</a></li> 
                    </ul>
               </div>

          </div>
     </section>

     <section>
          <div class="container">
               <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12">
                         <div>
                              <br>

                              <img src="images/cisco.jpg" alt="" class="img-responsive wc-image">

                              <br>
                         </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-xs-12">
                         <form action="#" method="post" class="form">
                              <h2>Software Engineer II</h2>

                              <p class="lead"><strong class="text-primary">$90000</strong> <small> per year</small></p>

                              <p class="lead">
                                   <i class="fa fa-briefcase"></i> Software Engineer&nbsp;&nbsp;
                                   <i class="fa fa-map-marker"></i> San Jose &nbsp;&nbsp;
                                   <i class="fa fa-calendar"></i> 06-12-2022 &nbsp;&nbsp;
                                   <i class="fa fa-file"></i> Full time
                              </p>

                              
                         </form>
                    </div>
               </div>

               <div class="panel panel-default">
                    <div class="panel-heading">
                         <h4>Job Description</h4>
                    </div>

                    <div class="panel-body">
                         <p>You would play a crucial role in driving next-gen software innovations including cloud, mobile, desktop or security spaces. On any of these teams, you'll get hands-on experience working with applications that make technology accessible no matter what device theyre on.</p>

                         <h4>Responsibillitites:</h4>

                         <p>Our software engineers are the gurus behind the scenes ensuring our all of our programs are easy to use and bug free. Using a keen eye, you will develop software and tools in support of many of our high-impact technology platforms such as operating systems, networks, databases and more. </p>

                         <h4>Qualifications:</h4>
                         <p>- Recent graduate or on your final year of studies towards a Masters degree in Computer Science, Computer Engineering, Electrical Engineering, or related program or other academic certification; equivalent experience accepted in lieu of degree </p>
                         <p>- Up-to-date on programming and scripting languages: C/C++, Python, Java .</p>
                         <p>- Hands on QA, Testing, and/or Debugging skills </p>
                    </div>
               </div>

               <div class="panel panel-default">
                    <div class="panel-heading">
                         <h4>About Cisco LLC</h4>
                    </div>

                    <div class="panel-body">
                         <p>Cisco Systems, Inc. is an American multinational technology conglomerate corporation headquartered in San Jose, California. Integral to the growth of Silicon Valley, Cisco develops, manufactures and sells networking hardware, software, telecommunications equipment and other high-technology services and products</p>

                         <div class="row">
                              <div class="col-lg-6">
                                   
                              </div>

                              <div class="col-lg-6">
                                   
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-md-6">
                                   <p>
                                        <span>Company name</span>

                                        <br>

                                        <strong>Cisco llc</strong>
                                   </p>
                              </div>

                              <div class="col-md-6">
                                   <p>
                                        <span>Contact name</span>

                                        <br>

                                        <strong>cisco Jobs</strong>
                                   </p>
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-md-6">
                                   <p>
                                        <span>Phone</span>

                                        <br>

                                        <strong><a href="tel:9988665544">+1(488)645-6539</a></strong>
                                   </p>
                              </div>

                              <div class="col-md-6">
                                   <p>
                                        <span>Mobile phone</span>

                                        <br>

                                        <strong><a href="tel:9989080509">+1(488)645-6539</a></strong>
                                   </p>
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-md-6">
                                   <p>
                                        <span>Email</span>

                                        <br>

                                        <strong><a href="mailto:Google@gmail.com">jobs@cisco</a></strong>
                                   </p>
                              </div>

                              <div class="col-md-6">
                                   <p>
                                        <span>Website</span>

                                        <br>

                                        <strong><a href="http://www.cisco.com/">http://www.cisco.com/</a></strong>
                                   </p>
                              </div>
                         </div>

                         <p>
                              <span>City</span>

                              <br>

                              <strong>San Jose</strong>
                         </p>
                    </div>
               </div>

               <div class="clearfix">
                    
                    
                    <a href="https://jobs.cisco.com/jobs/ProjectDetail/Software-Engineer-II-Full-Time-United-States/1339031" class="section-btn btn btn-primary pull-left">Apply for this job</a>

                    <ul class="social-icon pull-right">
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-envelope-o"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>
               <section>
                    <div align=center>
                         <div id="piechart"></div>
               
                         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                         <script type="text/javascript">
                           google.charts.load('current', {'packages':['bar']});
                           google.charts.setOnLoadCallback(drawChart);
                     
                           function drawChart() {
                             var data = google.visualization.arrayToDataTable([
                               ['Month', 'Number of employes applied for this job'],
                               ['September', 1000,],
                               ['October', 1170,],
                               ['November', 660, ],
                               ['December', 1030, ]
                             ]);
                     
                             var options = {
                               chart: {
                                 title: 'Company performance',
                                 subtitle: 'Number of applications received',
                               }
                             };
                     
                             var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
                     
                             chart.draw(data, google.charts.Bar.convertOptions(options));
                           }
                         </script>
                       </head>
                       <body>
                         <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
               <br>
          </section>
          </div>
     </section>

     <custom-footer></custom-footer>

     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
     <script src="js/chatbot.js"></script>
     <script src="js/custom_element.js"></script>

</body>
</html>